
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}	

.image{
	
	width: 100%;
	height: 100vh;
	background-image: url(image/laptop.jpg);
	background-size: cover;
	background-position: center;
}
.left{
	width: 100%;
	margin: auto;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.left ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	padding-right: 20px auto;

}
.left ul li a{
	text-decoration: none;
	color: white;
	font-weight: bold;

}
.left p{
	color: white;
	font-weight: bold;
}

#detail{
	text-align: center;
	color: white;


	
}
#detail h1{
	padding-top: 150px;
	margin top: 100px; 
	font-size: 40px;
	width: 100%;
}
#detail p{
	padding-top: 70px;
	margin-bottom: 90px;
}


a.box{
	background-color: red;
	border-radius: 20px;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding-top: 10px;
	margin-bottom: 100px;
}
#info{
	background-color: red;
	text-align: center;
	color: white;
	margin-bottom: -200px;
	height: 220px;
	padding: 30px 30px 0 30px;

}	
#info h2{
	font-size:30px; 
	margin-bottom: 25px;
	padding-top: 30px;
}	
#info p{
	margin: 40px;
}

/*

.box{
	padding: 20px;
	margin: 10px;
	border: 30px thick blue;
	width: 80px;
	height: 70px;
	background: green;
	border-radius: 10px;
}
.inline{
	padding: 20px;
	margin: 10px;
	border: 30px thick blue;
	width: 80px;
	height: 70px;
	background: green;
	border-radius: 10px;
	display: inline-block;
}

	
}
.navigate.more{
	position: absolute;
}



#detail{
	text-align: center;
	color: white;
	background-image: url(image/lap.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 0px;
	


}
a.box{
	background-color: red;
	border-radius: 20px;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}


}
*/



	

	
